.video-card {
    position: relative;
    width: 300px;
    cursor: pointer;
    margin: 10px;
    flex-shrink: 0;
  }
  
  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1000;
    
  }
  
  .description-container {
    position: absolute;
    bottom: 10;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .description {
    color: white;
    margin: 0;
    
  }

  .video-list {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 10px;
  }